* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
}


/* AB HIER FÜR GOOGLE ÜBERSETZER */
body {
    top: 0 !important;
    padding: 0 30px;
}

body > div:nth-child(1) {
    display: none !important;
}

#goog-gt-tt {
    display: none !important;
}

font {
    background-color: transparent !important;
    box-shadow: none !important;
}