body {
    padding-right: 1.5vw;
}

#toolbar {
    display: flex;
    gap: 30px;
    align-items: center;
}

.exercise {
    margin-top: 3rem;
}

button, select {
    
    padding: 0.15rem 0.75rem;
    border-radius: 14px;
    background-color: #dcdbdb;
}

#toolbar p {
    padding: 0.15rem 0.75rem;
}

.gaptext{
    .gap {
        min-width: 200px;
        display: inline-block;
        border: 1px solid black;
        vertical-align: middle;
        min-height: 1.8rem;
        margin: -100% 0;
        padding: 0 0.3rem;
    }

    p {
        line-height: 2;
    }

    .label {
        min-width: 200px;
        line-height: 1.5;
        border-radius: 12px;
        padding: 0 5px;
    }

    .selected {
        background-color: #99999999;
    }

    .wrong {
        border: 2px solid red;
    }
    .right {
        border: 2px solid green;
    }

    .container {
        margin: 40px 0 0 0;
        min-height: 1.8rem;
        min-width: 30vw;
        background-color: #dcdbdb;
        padding: 1rem;
        border-radius: 14px;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }
}

.multiplechoice {
    .choice {
        display: flex;
        gap: 1rem;
        vertical-align: center;

        input {
            vertical-align: middle;
        }
    }

    .right {
        color: green;
    }
    .wrong {
        color: red;
    }
}

.check {
    margin-top: 40px;
}

.conjugateverbs {
    .segment {
        display: flex;
        gap: 0.75rem;
        margin-bottom: 1rem;
    }
    
    input {
        all: unset;
        border: 1px solid black;
        min-width: 200px;
        padding: 0 0.5rem;
        vertical-align: center;
    }

    .right input {
        border: 2px solid green;
    }
    .moderate input {
        border: 2px solid darkgoldenrod;
    }
    .wrong input {
        border: 2px solid red;
    }
}

.memory {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;

        .card {
            width: 15%;
            aspect-ratio: 3 / 2;
            text-align: center;
            transform-style: preserve-3d;
            box-shadow: 8px 6px 9px 9px gray;
            border: 1px solid gray;
            border-radius: 18px;
            transition: 0.8s;
            perspective: 1000px;
            margin-bottom: 2%;
            

            .front, .back {
                height: 100%;
                width: 100%;
                -webkit-backface-visibility: hidden; /* Safari */
                backface-visibility: hidden;
                
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 18px;
            }

            .front {
                transform: rotateY(180deg);
                background-image: url("assets/card_front.jpg");
                background-repeat: repeat;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2vw;
            }
            .back {
                background-image: url("assets/card_back.jpeg");
                background-repeat: repeat;
                background-position: center;
                background-size: cover;
            }

        }
        
        .hidden {
            animation: hide 1s ease;
            animation-duration: 1.5s;
            scale: 0;
        }

        .active {
            transform: rotateY(180deg);
            box-shadow: -8px 6px 9px 9px gray;
        }
        
    }
}

@keyframes hide {
    0% {scale: 1;}
    75% {scale: 1;}
    100% {scale: 0;}
}