#body {
    box-sizing: border-box;
    padding: 0;
    display: grid;
    grid-template-columns: [left] 20vw [middle] 80vw [right];
    margin: 0;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    overflow: hidden;
    font-size: 1.2rem;
}
.sidebar {
    grid-column: left / middle;
    background-color: #f4f4f4;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100vh;
    overflow-y: auto;
}
#main-content {
    padding: 0 0 0 1.5vw;
    overflow-y: auto;
    grid-column: middle / right;
    align-self: stretch;
    justify-self: stretch;
}
.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.sidebar a:hover {
    background-color: #ddd;
}