#body {
    box-sizing: border-box;
    padding: 0;
    display: grid;
    grid-template-columns: [left] 20vw [middle] 80vw [right];
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-size: 1.2rem;
}
.sidebar {
    grid-column: left / middle;
    background-color: #f4f4f4;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100vh;
    overflow-y: auto;
}
#main-content {
    padding: 0 0 0 1.5vw;
    overflow-y: auto;
    overflow: visible !important;
    grid-column: middle / right;
    align-self: stretch;
    justify-self: stretch;
}
.sidebar a:not(.credits) {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
    margin-bottom: 7.5px;
    border-radius: 4px;
    cursor: pointer;
}
.credits {
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
}
.sidebar a:not(.credits):hover {
    background-color: #ddd;
}

#warning {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-size: 5vw;
}

@media (max-aspect-ratio: 4 / 3 )  {
    #body * {
        display: none;
    }
    #warning {
        display: flex;
    }
}

@media screen and (orientation: portrait) {
    #body * {
        display: none;
    }
    #warning {
        display: flex;
    }
}